<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css" type="text/css"/>
    <title>Document</title>
</head>
<body style="margin: 0;">
    
    <div id='map' style='width: 100vw; height: 400px;'></div>
   <div>
    <% countriesList.forEach(function(country){ %>
       <p><%=country.name%></p>  
       <% }); %>

    <% details.forEach(function(detail){ %>
       <p>Confirmed cases :<%=detail.confirmed.value%></p>
       <p>Deaths: <%=detail.deaths.value%></p>
       <p>Recovered: <%=detail.recovered.value%></p>
       <p>LastUpdate: <%=detail.lastUpdate%></p>   
    <% }); %>
    
   </div>


    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script> 
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>

<!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoibWFwYm94ZXIxMzMyMyIsImEiOiJja2docXQzMDEwZ2JwMnFsaTZnanFoaGxtIn0.IuR3tL1kw4eeLi12J2J4Lw';
        var map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/dark-v10',
          zoom: 1.5
        });
        var marker = new mapboxgl.Marker()
.setLngLat([0, 0])
.addTo(map);
map.addControl(
new MapboxGeocoder({
accessToken: mapboxgl.accessToken,
mapboxgl: mapboxgl
})
);
      </script>
</body>
</html>